{% extends "base.html" %}

{% block app_content %}
<h1>This Platform's Users</h1>
<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
  {% for idx in range(users|length) %} <!--this is the equivalent of python range(len(users))#-->
  	<tr>
      <th scope="row" class="lead">{{ idx+1 }}</th> <!--this line generates the rows, starting from 1-->
      <td class="lead"> <!--this line displays each item in users at the current index (idx)-->
      	{{ users[idx]}} <!--displays the items inside users-->
      </td>
    </tr>
  {% endfor %} <!-- ends the loop(jinja style)-->
  
  </tbody>
</table>
{% endblock %} <!-- ends the block of content-->